.scheduleBtn{
    border: 1px solid none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 0px solid;
    border-radius: 1rem;
    background-color: #e65c00e6;
    padding: 0.75rem;
    margin-top: 0.8em;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.preF--mainDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 2em;
    flex-direction: column;
    text-align: center;
}
.preF--mainDiv h1{
    font-size: 28px;
    padding: 0.25em;
    color: var(--clr-body-text);
    opacity: 0.8;
}
.preF--mainDiv h2{
    font-size: 22px;
    padding: 0.25em;
    max-width: 60ch;
    color: var(--clr-taglines2);
}
